# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
[Bb]in/
[Oo]bj/
[Cc]sx/
[Rr]cf/
[Ee]cf/
.vs/

# User-specific files
*.suo
*.user
*.userprefs
*.sln.docstates
*.orig
.DS_Store
StyleCop.Cache
*.TMP
/.vs/

# NuGet
# Also consider letting NuGet automatically restore missing packages for you:
## http://docs.nuget.org/docs/workflows/using-nuget-without-committing-packages/
packages

* - Web Deploy.pubxml

# Fakes Test
FakesAssemblies
/TestResults

#Backup
/Backup*
*.bak

#BoshiCMS
BoshiCMS/Views/Shared/_PageTopLink.cshtml
BoshiCMS/Views/SurveyPreview/Confirm.cshtml
BoshiCMS/Views/SurveyPreview/Fin.cshtml
BoshiCMS/Views/SurveyPreview/Input.cshtml

#CityInformation
/CityInformation/*
!/CityInformation/CityInformation.csproj
!/CityInformation/Global.asax
!/CityInformation/Global.asax.cs
!/CityInformation/Web.config
!/CityInformation/Web.Debug.config
!/CityInformation/Web.Development.config
!/CityInformation/Web.RC.config
!/CityInformation/Web.Release.config
!/CityInformation/packages.config
!/CityInformation/Properties/
!/CityInformation/App_Start/
!/CityInformation/Api/
!/CityInformation/Controllers/
!/CityInformation/Models/
!/CityInformation/Services/
!/CityInformation/Sql/

#CityInformation/Views/
!/CityInformation/Views/

#CityInformation/Views/Shared/
/CityInformation/Views/Shared/

#CityInformation/Scripts/
!/CityInformation/Scripts/
/CityInformation/Scripts/*

#VaccinationManage
/VaccinationManage/*
!/VaccinationManage/VaccinationManage.csproj
!/VaccinationManage/Global.asax
!/VaccinationManage/Global.asax.cs
!/VaccinationManage/Web.config
!/VaccinationManage/Web.Debug.config
!/VaccinationManage/Web.RC.config
!/VaccinationManage/Web.Release.config
!/VaccinationManage/packages.config
!/VaccinationManage/Properties/
!/VaccinationManage/App_Start/
!/VaccinationManage/App_GlobalResources/
!/VaccinationManage/Api/
!/VaccinationManage/Controllers/
!/VaccinationManage/Filters/

#VaccinationManage/Views/
!/VaccinationManage/Views/
/VaccinationManage/Views/_ViewStart.cshtml

#VaccinationManage/Views/Hospital/
/VaccinationManage/Views/Hospital/_DetailShared.cshtml
/VaccinationManage/Views/Hospital/_ListShared.cshtml

#VaccinationManage/Views/Shared/
/VaccinationManage/Views/Shared/

#VaccinationManage/Rotativa/
!/VaccinationManage/Rotativa/

#VaccinationManage/Scripts/
!/VaccinationManage/Scripts/
/VaccinationManage/Scripts/*

##VaccinationManage/Scripts/AppReact/
!/VaccinationManage/Scripts/AppReact/
/VaccinationManage/Scripts/AppReact/Libs/*
/VaccinationManage/Scripts/AppReact/Shared/*

#BoshiTopic
/BoshiTopic/*
!/BoshiTopic/BoshiTopic.csproj
!/BoshiTopic/Global.asax
!/BoshiTopic/Global.asax.cs
!/BoshiTopic/UCSDownload.ini
!/BoshiTopic/Web.Debug.config
!/BoshiTopic/Web.RC.config
!/BoshiTopic/Web.Release.config
!/BoshiTopic/Web.config
!/BoshiTopic/packages.config
!/BoshiTopic/Properties/

#BoshiTopic/App_Start/
!BoshiTopic/App_Start/
BoshiTopic/App_Start/*
!/BoshiTopic/App_Start/SwaggerConfig.cs

#BoshiTopic/Api/
!BoshiTopic/Api/
BoshiTopic/Api/*

##BoshiTopic/Api/Controllers/
!/BoshiTopic/Api/Controllers/
/BoshiTopic/Api/Controllers/*
!/BoshiTopic/Api/Controllers/ChildbirthController.cs
!/BoshiTopic/Api/Controllers/EmergencyController.cs
!/BoshiTopic/Api/Controllers/FetusController.cs

#BoshiTopic/AppApi/
!BoshiTopic/AppApi/
BoshiTopic/AppApi/*

##/BoshiTopic/AppApi/Controllers/
!/BoshiTopic/AppApi/Controllers/
/BoshiTopic/AppApi/Controllers/*
!/BoshiTopic/AppApi/Controllers/AppChildrenController.cs
!/BoshiTopic/AppApi/Controllers/AppUserController.cs

#/BoshiTopic/Controllers/
!/BoshiTopic/Controllers/
/BoshiTopic/Controllers/*
!/BoshiTopic/Controllers/HomeController.cs
!/BoshiTopic/Controllers/LoginController.cs
!/BoshiTopic/Controllers/LogoutController.cs

##/BoshiTopic/Controllers/ActionFilters/
!/BoshiTopic/Controllers/ActionFilters/
/BoshiTopic/Controllers/ActionFilters/*
!/BoshiTopic/Controllers/ActionFilters/MchhAuthAttribute.cs

##/BoshiTopic/Controllers/Children/
!/BoshiTopic/Controllers/Children/
/BoshiTopic/Controllers/Children/*
!/BoshiTopic/Controllers/Children/BirtheditorController.cs
!/BoshiTopic/Controllers/Children/BirthregisterController.cs
!/BoshiTopic/Controllers/Children/FetusController.cs
!/BoshiTopic/Controllers/Children/FetuseditorController.cs
!/BoshiTopic/Controllers/Children/InfantController.cs
!/BoshiTopic/Controllers/Children/InfantdashboardController.LGData.cs

##/BoshiTopic/Controllers/User/
!/BoshiTopic/Controllers/User/
/BoshiTopic/Controllers/User/*
!/BoshiTopic/Controllers/User/ProfileeditorController.cs
!/BoshiTopic/Controllers/User/ProfileregisterController.cs
!/BoshiTopic/Controllers/User/SharedUserController.cs
!/BoshiTopic/Controllers/User/ProfileController.cs

##/BoshiTopic/Controllers/Sharing/
!/BoshiTopic/Controllers/Sharing/
/BoshiTopic/Controllers/Sharing/*
!/BoshiTopic/Controllers/Sharing/SharingmessengerController.cs

##/BoshiTopic/Content/
!/BoshiTopic/Content/
/BoshiTopic/Content/*

##/BoshiTopic/Content/static/
!/BoshiTopic/Content/static/
/BoshiTopic/Content/static/*

##/BoshiTopic/Content/static/silkproject/
!/BoshiTopic/Content/static/silkproject/

##/BoshiTopic/Content/static/fujiokashi/
!/BoshiTopic/Content/static/fujiokashi/

##/BoshiTopic/Content/static/numatashi/
!/BoshiTopic/Content/static/numatashi/

##/BoshiTopic/Content/static/tomiokashi/
!/BoshiTopic/Content/static/tomiokashi/

##/BoshiTopic/Content/static/urayasushi/
!/BoshiTopic/Content/static/urayasushi/

##/BoshiTopic/Content/static/urayasushi/
!/BoshiTopic/Content/static/urayasushi/

##/BoshiTopic/Content/static/maebashi/
!/BoshiTopic/Content/static/maebashi/

##/BoshiTopic/Content/static/nankokushi/
!/BoshiTopic/Content/static/nankokushi/

#/BoshiTopic/Models/
!/BoshiTopic/Models/

#/BoshiTopic/Presenter/
!/BoshiTopic/Presenter/

#BoshiTopic/Views/
!/BoshiTopic/Views/
/BoshiTopic/Views/*
!/BoshiTopic/Views/web.config

!/BoshiTopic/Views/Home/
!/BoshiTopic/Views/Profileeditor/
!/BoshiTopic/Views/Profileregister/

#BoshiTopic/Views/Profile/
!/BoshiTopic/Views/Profile/
/BoshiTopic/Views/Profile/*
!/BoshiTopic/Views/Profile/Index.cshtml
!/BoshiTopic/Views/Profile/_IndexButtonArea.cshtml

#BoshiTopic/Views/Shared/
!/BoshiTopic/Views/Shared/
/BoshiTopic/Views/Shared/*
!/BoshiTopic/Views/Shared/_HeaderForLogin.cshtml
!/BoshiTopic/Views/Shared/_SupportMenu.cshtml
!/BoshiTopic/Views/Shared/_LayoutFirst.cshtml

#BoshiTopic/Views/Fetus/
!/BoshiTopic/Views/Fetus/
/BoshiTopic/Views/Fetus/*
!/BoshiTopic/Views/Fetus/Index.cshtml

#BoshiTopic/Views/Fetusdashboard/
!/BoshiTopic/Views/Fetusdashboard/
/BoshiTopic/Views/Fetusdashboard/*
!/BoshiTopic/Views/Fetusdashboard/Index.cshtml
!/BoshiTopic/Views/Fetusdashboard/Archive.cshtml

#BoshiTopic/Views/Infantdashboard/
!/BoshiTopic/Views/Infantdashboard/
/BoshiTopic/Views/Infantdashboard/*
!/BoshiTopic/Views/Infantdashboard/Index.cshtml

#BoshiTopic/Views/SharedUser/
!/BoshiTopic/Views/SharedUser/
/BoshiTopic/Views/SharedUser/*
!/BoshiTopic/Views/SharedUser/Input.cshtml
!/BoshiTopic/Views/SharedUser/Confirm.cshtml
!/BoshiTopic/Views/SharedUser/Fin.cshtml

#BoshiTopic/Views/Infant/
!/BoshiTopic/Views/Infant/
/BoshiTopic/Views/Infant/*
!/BoshiTopic/Views/Infant/Index.cshtml

#BoshiTopic/Views/Fetuseditor/
!/BoshiTopic/Views/Fetuseditor/
/BoshiTopic/Views/Fetuseditor/*
!/BoshiTopic/Views/Fetuseditor/Input.cshtml
!/BoshiTopic/Views/Fetuseditor/Confirm.cshtml

#BoshiTopic/Views/Top/
!/BoshiTopic/Views/Top/
/BoshiTopic/Views/Top/*
!/BoshiTopic/Views/Top/Index.cshtml

#BoshiNanto
/BoshiNanto/*
!/BoshiNanto/BoshiNanto.csproj
!/BoshiNanto/Global.asax
!/BoshiNanto/Global.asax.cs
!/BoshiNanto/UCSDownload.ini
!/BoshiNanto/Web.Debug.config
!/BoshiNanto/Web.RC.config
!/BoshiNanto/Web.Release.config
!/BoshiNanto/Web.config
!/BoshiNanto/packages.config
!/BoshiNanto/Properties/

#BoshiNanto/App_Start/
!BoshiNanto/App_Start/
BoshiNanto/App_Start/*
!/BoshiNanto/App_Start/SwaggerConfig.cs

##/BoshiNanto/Content/
!/BoshiNanto/Content/
/BoshiNanto/Content/*
!/BoshiNanto/Content/style.css

##/BoshiNanto/Content/static/
!/BoshiNanto/Content/static/
/BoshiNanto/Content/static/*

##/BoshiNanto/Content/static/nanto/
!/BoshiNanto/Content/static/nanto/

#/BoshiNanto/Controllers/
!/BoshiNanto/Controllers/
/BoshiNanto/Controllers/*

##/BoshiNanto/Controllers/Sharing/
!/BoshiNanto/Controllers/Sharing/
/BoshiNanto/Controllers/Sharing/*
!/BoshiNanto/Controllers/Sharing/SharingmessengerController.cs

!/BoshiNanto/Scripts/
/BoshiNanto/Scripts/*
!/BoshiNanto/Scripts/fetus_health_info_edit/
!/BoshiNanto/Scripts/top/

#BoshiNanto/Views/
!/BoshiNanto/Views/
/BoshiNanto/Views/*
!/BoshiNanto/Views/web.config

#BoshiNanto/Views/Iheditor/
!/BoshiNanto/Views/Iheditor/
/BoshiNanto/Views/Iheditor/*
!/BoshiNanto/Views/Iheditor/Input.cshtml

#BoshiNanto/Views/Ihregister/
!/BoshiNanto/Views/Ihregister/
/BoshiNanto/Views/Ihregister/*
!/BoshiNanto/Views/Ihregister/Input.cshtml

#BoshiNanto/Views/Mheditor/
!/BoshiNanto/Views/Mheditor/
/BoshiNanto/Views/Mheditor/*
!/BoshiNanto/Views/Mheditor/Input.cshtml

#BoshiNanto/Views/Mhregister/
!/BoshiNanto/Views/Mhregister/
/BoshiNanto/Views/Mhregister/*
!/BoshiNanto/Views/Mhregister/Input.cshtml

#BoshiNanto/Views/Profile/
!/BoshiNanto/Views/Profile/
/BoshiNanto/Views/Profile/*
!/BoshiNanto/Views/Profile/Index.cshtml
!/BoshiNanto/Views/Profile/_IndexButtonArea.cshtml

#BoshiNanto/Views/Top/
!/BoshiNanto/Views/Top/
/BoshiNanto/Views/Top/*
!/BoshiNanto/Views/Top/Index.cshtml

#/BoshiNanto/Api/
!/BoshiNanto/Api/

#/BoshiNanto/Controllers/
!/BoshiNanto/Controllers/

#/BoshiNanto/Models/
!/BoshiNanto/Models/

#/BoshiNanto/Presenter/
!/BoshiNanto/Presenter/

#BoshiTopicCMS
/BoshiTopicCMS/*
!/BoshiTopicCMS/BoshiTopicCMS.csproj
!/BoshiTopicCMS/Global.asax
!/BoshiTopicCMS/Global.asax.cs
!/BoshiTopicCMS/UCSDownload.ini
!/BoshiTopicCMS/Web.Debug.config
!/BoshiTopicCMS/Web.RC.config
!/BoshiTopicCMS/Web.Release.config
!/BoshiTopicCMS/Web.config
!/BoshiTopicCMS/packages.config
!/BoshiTopicCMS/Properties/

#/BoshiTopicCMS/Controllers/
!/BoshiTopicCMS/Controllers/
/BoshiTopicCMS/Controllers/*
!/BoshiTopicCMS/Controllers/CsvUploadController.cs
!/BoshiTopicCMS/Controllers/CmsGroupController.Institutions.cs

#/BoshiTopicCMS/Presenter/
!/BoshiTopicCMS/Presenter/

#/BoshiTopicCMS/Models/
!/BoshiTopicCMS/Models/

#BoshiTopicCMS/Views/
!/BoshiTopicCMS/Views/
/BoshiTopicCMS/Views/*
!/BoshiTopicCMS/Views/web.config

#BoshiTopicCMS/Views/Menu/
!/BoshiTopicCMS/Views/Menu/
/BoshiTopicCMS/Views/Menu/*
!/BoshiTopicCMS/Views/Menu/Index.cshtml

#BoshiTopicCMS/Views/CsvUpload/
!/BoshiTopicCMS/Views/CsvUpload/
/Boshi/*.Cache
/.vs/config/applicationhost.config
/BoshiApi/logs

#Visual Studio 2015
/.vs/*
!/Boshi/node_modules/
/Boshi/node_modules/*
#/Boshi/build/client.bundle.js
#/Boshi/build/client.bundle.js.map
#/Boshi/build/server.bundle.js
#/Boshi/build/server.bundle.js.map
