# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)[Bb]in/[Oo]bj/[Cc]sx/[Rr]cf/[Ee]cf/.vs/# User-specific files*.suo*.user*.userprefs*.sln.docstates*.orig.DS_StoreStyleCop.Cache*.TMP/.vs/# NuGet# Also consider letting NuGet automatically restore missing packages for you:## http://docs.nuget.org/docs/workflows/using-nuget-without-committing-packages/packages* - Web Deploy.pubxml# Fakes TestFakesAssemblies/TestResults#Backup/Backup**.bak