<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0" />
    <httpRuntime executionTimeout="900000" requestValidationMode="2.0" maxRequestLength="500000000" useFullyQualifiedRedirectUrl="false" />
    <sessionState mode="InProc" timeout="480" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <security>
      <requestFiltering>
        <!--500MB-->
        <requestLimits maxAllowedContentLength="500000000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <appSettings>
    <!--192.168.1.3-->
    <add key="ConnStringSQL" value="Data Source=HCPC2020051601\SQLEXPRESS;Initial Catalog=QGWQTZC;password=123;Persist Security Info=True;User ID=sa" />
    <!--<add key="ConnStringSQL" value="Data Source=ali.dbserver.jshcsoft.com,3433;Initial Catalog=QGWQTZC;password=QGWQTZC@20200514;Persist Security Info=True;User ID=QGWQTZC" />-->
    <!--<add key="ConnStringSQL" value="Data Source=211.149.250.2,34330;Initial Catalog=QGWQTZC;password=Test@20200807;Persist Security Info=True;User ID=sa" />-->
    <add key="SqlReplace" value="SELECT,INSERT,UPDATE,WHERE,ALTER,AND,ADD,BACKUP,DELETE,CREATE,EXEC" />
    <add key="DebugState" value="1" />
    <add key="WebApiUrl" value="http://211.149.250.2:1002/Wisdom315API/QGWQTZ/InfoSynchronization" />
    <add key="fileExt" value=".rar,.doc,.docx,.xlsx,.xls,.zip,.pdf,.txt,.swf,.mp4,.webm,.mp3" />
  </appSettings>
  <applicationSettings>
    <Web.Properties.Settings>
      <setting name="Web_NewSendMsg_NewSendMsg" serializeAs="String">
        <value>https://webservice.jshcsoft.com/SSMSAPI/NewSendMsg.asmx</value>
      </setting>
      <setting name="Web_ServiceUpFile_UpFileWeb" serializeAs="String">
        <value>http://support.jshcsoft.com/HcUpFile/upfileweb.asmx</value>
      </setting>
    </Web.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.999" newVersion="1.0.0.999" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>